<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <p class="text">
                    Mustapha Institute<br />
                    Lebanon<br />
                    Beirut<br />
            </div>
            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a href="https://linkedin.com/company/{{site.linkedin}}">
                            <i class="fab fa-linkedin" style="color:gray"></i> {{site.linkedin}}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/{{site.github}}">
                            <i class="fab fa-github" style="color:gray"></i> {{site.github}}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-globe" style="color:gray"></i> mustapha-institute.com
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</footer>