---
layout: default
---

<div class="container">

    <div class="container-item">
        <a href="/courses/competition">
            <img src="/assets/img/leadstory.png">
        </a>
    </div>

    <div id="about" class="container-item" style="border: 1px;">
        <p style="font-weight: bold;">What we offer</p>
        <p>
            At our institute, we help educational and bussiness organizations by offering technical courses.
            Our courses and workshops are designed to bridge the gap between theoretical knowledge and real-world
            application. Our courses go beyond theory witha focus on imparting skills that are immediately applicable
            in the real world, empowering attandese to be ready to tackle challenges head-on.
        </p>
    </div>

    <span style="margin-top: 20px;"></span>

    <div class="wrappable">

        <div class="container">
            <i class="container-item fas fa-bullseye fa-5x"></i>
            <p>Precision in Education</p>
            <p>Our courses are meticulously crafted to meet your educational requirements. It's precisely what you need
                to succeed.</p>
        </div>

        <div class="container">
            <i class="container-item fa-solid fa-arrow-up fa-5x"></i>
            <p>Value Beyond Norm</p>
            <p>We believe in value. Unlike thousthands of online courses ours gurantees, value and return of investment.
            </p>
        </div>

        <div class="container">
            <i class="container-item fa-solid fa-user fa-5x"></i>
            <p>Industry Experts</p>
            <p>Our lecturers aren't just educators, they're seasoned professionals with proven experience in the
                industry.</p>
        </div>
    </div>

    <div id="courses" class="container-item">
        <p style="font-weight: bold; margin: 20px;">Our Courses</p>

        <div class="gallery">

            <div class="card">
                <img src="/assets/img/competition.jpg">
                <div class="title">
                    <a href="courses/competition" style="text-decoration: none; color: black;">
                        <h1>Spearhead The Competition</h1>
                    </a>
                    <h3>A tailored 3-days workshop that gurantees fast and strong arrival to workforce for engineering
                        students.</h3>
                </div>
                <p class="note">
                    Workshop
                </p>
            </div>

            <div class="card">
                <img src="/assets/img/machine learning.jpg">
                <div class="title">
                    <a href="courses/machinelearning" style="text-decoration: none; color: black;">
                        <h1>Machine Learning Introduction</h1>
                    </a>
                    <h3>A tailored 3-days workshop with hands-on coding sessions to understand machine learning.
                    </h3>
                </div>
                <p class="note">
                    Workshop
                </p>
            </div>

            <div class="card">
                <img src="/assets/img/python.jpg">
                <div class="title">
                    <a href="courses/python" style="text-decoration: none; color: black;"></a>
                    <h1>Python Introduction</h1>
                    </a>
                    <h3>A specialized python course with several projects to jump start your programming journey.
                    </h3>
                </div>
                <p class="note">
                    Course
                </p>
            </div>

            <div class="card">
                <img src="/assets/img/ai.jpg">
                <div class="title">
                    <a href="#courses" style="text-decoration: none; color: black;"></a>
                    <h1>AI Litracy</h1>
                    </a>
                    <h3>A short course to understand AI and how to use latest AI products such as ChatGPT.</h3>
                </div>
                <p class="note">
                    Short Course <span style="color: orange;">(Upcoming)</span>
                </p>
            </div>

        </div>
    </div>

</div>